.DiscoverScreen-back{
  position: absolute;
  top: 5vh;
  left: 2vw;
  color: peru;
}

.DiscoverScreen-back:visited{
  color: peru;
}

.DiscoverScreen h1{
  text-decoration: underline;
  color:peru;
  text-shadow: 1px 1px 4px black;
}

.DiscoverScreen button{
  padding: 0.6rem 0.8rem;
  margin: 0.1rem;
}

.DiscoverScreen button:hover{
  border: 1px solid peru;
}

.Image-container{
  max-width: 80%;
  border: 3px solid mediumseagreen;
  margin:auto;
  padding-bottom: -100px;
}

.DiscoverScreen .Image-container img{
  width: 50%;
  height: 450px;
  margin: 0;
  margin-bottom:-0.5vh;
}

.DiscoverScreen ol{
  margin-bottom: 5%;
  padding: 0;
  list-style-position: inside;
}

@media (max-width: 600px) {
  .DiscoverScreen .Image-container img{
    width: 100%;
    max-height: auto;
  }
}