.LoginScreenButton {
    color: white;
    font-weight: 900;
    border: 2px solid mediumseagreen;
    width:fit-content;
    position: relative;
    margin-left: 60%;
    background-color: mediumseagreen;
}

.LoginScreenProfile{
    background-color: peru;
    padding-right: 0px;
    margin-bottom: 10%;
}

.profileIcon {
    display: inline;
    margin: 10%;
}